@font-face {
    font-family: 'Inter-Thin';
    font-weight: 100;
    font-style: normal;
    src: local('Inter-Thin'),
        url('../fonts/Inter-Thin.woff2') format('woff2'),
        url('../fonts/Inter-Thin.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Inter-Light';
    font-weight: 300;
    font-style: normal;
    src: local('Inter-Light'),
        url('../fonts/Inter-Light.woff2') format('woff2'),
        url('../fonts/Inter-Light.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Inter-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('Inter-Medium'),
        url('../fonts/Inter-Medium.woff2') format('woff2'),
        url('../fonts/Inter-Medium.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Inter-SemiBold';
    font-weight: 700;
    font-style: normal;
    src: local('Inter-SemiBold'),
        url('../fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter-SemiBold.woff') format('woff');
    font-display: swap;
}