html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    @extend %Inter-500;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 5px;
}

.btn {
    color: #fff;
    padding: 16px 56px;
    border: 1px solid #fff;
    border-radius: 6px;
    display: inline-block;
}

.btn-2 {
    padding: 12px 0;
    max-width: 188px;
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
}

    .product-content__fav {
        svg {
            transition: stroke 0.3s ease, fill 0.3s ease;
            .active {
                stroke: #000; // Красная обводка
                fill: #000; // Красное заполнение
            }
        }
    }