%Inter-100{
    font-family: 'Inter-Thin', sans-serif;
    font-weight: 100;
}
%Inter-300{
    font-family: 'Inter-Light', sans-serif;
    font-weight: 300;
}
%Inter-500{
    font-family: 'Inter-Medium', sans-serif;
    font-weight: 500;
}
%Inter-700{
    font-family: 'Inter-SemiBold', sans-serif;
    font-weight: 700;
}