@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.subnav {
    background-color: #2E2E2E;
    padding: 8px 0;
    z-index: 8;
    transform: translateY(-140px);
    transition: all .4s;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.subnav.\.subnav--scrolled {
    transform: translateY(88px);
}

.subnav-menu {

    &__list {
        display: flex;
        justify-content: space-around;
    }

    &__item {
        display: flex;
        position: relative;

        &::before {
            width: 1px;
            height: 24px;
            content: '';
            position: absolute;
            right: -35px;
            background-color: #fff;
            opacity: .2;
        }
    }

    &__link {
        opacity: .5;
        color: #fff;
        align-self: center;
        padding-left: 8px;
    }
}

.header {
    background-color: #fff;
    padding: 16px 0;
    z-index: 10;

    position: relative;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.user-nav,
.menu__list {
    display: flex;
    align-items: center;
}

.user-nav {
    &__item+.user-nav__item {
        margin-left: 24px;
    }
}

.menu {
    &__list-item+.menu__list-item {
        margin-left: 52px;
    }

    &__search {
        // Проработать размер
        background-color: #F5F5F5;
        color: #656565;
        border: none;
        font-size: 14px;
        line-height: 18px;
        padding: 0 48px;
        width: 415px;
        height: 56px;
        border-radius: 8px;

        &:focus-visible {
            outline: none;
        }
    }

    &__list-link {
        font-size: 16px;
    }

    &__list-item {
        transition: all .5s;
        color: #656565;

        &:hover {
            color: #000;
        }
    }
}


.banner {
    background-color: #211C24;
    padding-top: 88px;

    &__content {
        align-self: center;

        &-uppertitle {
            font-size: 25px;
            line-height: 35px;
            @extend %Inter-700;
            color: #656565;
        }

        &-subtitle {
            font-size: 18px;
            line-height: 26px;
            @extend %Inter-700;
            color: #909090;
        }

        &-title {
            font-size: 96px;
            line-height: 72px;
            color: #fff;
            @extend %Inter-100;

            span {
                @extend %Inter-700;
            }
        }
    }

    &__content>*:not(a) {
        padding-bottom: 20px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.banner-smaller {
    &__items {
        display: grid;
    }

    &__content {
        align-self: center;
    }

    &__text {
        font-size: 14px;
        line-height: 24px;
        color: #909090;
    }

    &__item {
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            align-self: center;
        }

        &:nth-child(1) {
            background-color: #fff;
            grid-column: span 2;
            height: 328px;

            .banner-smaller__content {
                width: 386px;
                padding-right: 48px;
            }

            .banner-smaller__title {
                font-size: 49px;
                line-height: 40px;
                padding-bottom: 16px;
            }

            img {
                position: absolute;
                left: -10%;
            }
        }

        &:nth-child(2) {
            background-color: #EDEDED;
            grid-area: 2;
            height: 272px;

            .banner-smaller__content {
                width: 208px;
                padding-right: 48px;
            }

            .banner-smaller__title {
                font-size: 29px;
                line-height: 40px;
                @extend %Inter-300;
                padding-bottom: 8px;

                span {
                    @extend %Inter-500;
                }
            }

            img {
                right: 70%;
            }
        }

        &:nth-child(3) {
            background-color: #353535;
            grid-area: 2;

            .banner-smaller__content {
                width: 208px;
                padding-right: 48px;
            }

            .banner-smaller__title {
                font-size: 29px;
                line-height: 40px;
                padding-bottom: 8px;
                @extend %Inter-300;
                color: #fff;

                span {
                    @extend %Inter-500;
                }
            }

            img {
                right: 55%;
            }
        }

        &:nth-child(4) {
            background-color: #EDEDED;
            grid-column: span 5;
            grid-row: span 2;
            grid-area: 1 / 3 / 4;
            justify-content: start;

            img {
                left: 65%;
            }

            .banner-smaller__content {
                width: 416px;
                padding-left: 56px;

                .btn {
                    margin-top: 16px;
                    border: 1px solid #000;
                    color: #000;
                }
            }

            .banner-smaller__title {
                font-size: 64px;
                line-height: 56px;
                padding-bottom: 16px;
                @extend %Inter-300;

                span {
                    @extend %Inter-500;
                }

            }

        }
    }

    &__item {
        justify-content: flex-end;
        display: flex;
    }
}

.category {
    padding: 80px 0;

    &__title {
        font-size: 24px;
        line-height: 32px;
        @extend %Inter-500;
    }
}


.category-slider {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;

    &__item {
        background-color: #EDEDED;
        border-radius: 15px;

    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 128px;
        width: 160px;
        justify-content: center;
    }

}

.slick-arrow {
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    top: -60px;
    right: 0;
}

.slick-next {
    rotate: 180deg;
}

.slick-prev {
    rotate: 0deg;
    right: 45px;
}

.slick-slide {
    width: 160px !important;
}

.slick-slide+.slick-slide {
    margin-left: 32px;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    display: flex;
}
.product{
    padding: 56px;
}


.product-top {
    &__btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        line-height: 32px;
        font-size: 18px;
        position: relative;
        @extend %Inter-500;
        color: #8b8b8b;
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #000;
            transform: scaleX(0);
            transform-origin: top left;
            transition: transform 0.3s ease;
        }
    }
    &__btn+.product-top__btn{
        margin-left: 32px;
    }
    margin-bottom: 32px;
}

.mixitup-control-active {
    color: #000;
    &::before {
        content: "";
        transform: scaleX(1);
    }
}

.product-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(160px, 1fr));
    gap: 16px;
    grid-template-rows: minmax(352px, 432px);

    &__item {
        display: flex;
        flex-direction: column;
        padding: 24px 16px;
        text-align: center;
        background-color: #f6f6f6;
        border-radius: 9px;
        align-items: center;
    }

    &__item>* {
        margin-bottom: 16px;
    }

    &__imgbox {
        max-width: 160px;
        max-height: 160px;
    }

    &__title {
        font-size: 16px;
        line-height: 24px;
        max-width: 268px;
        height: 48px;
        @extend %Inter-500;
    }

    &__fav {
        background-color: transparent;
        border: none;
        align-self: flex-end;
        cursor: pointer;
    }
}
.popular{
    &__list{
        display: flex;
        justify-content: center;
    }
    &__item>*:not(:first-child){
        margin-bottom: 16px;
    }
    &__item{
        max-width: 360px;
        padding: 32px;
        color: #000;
        .btn{
            margin-bottom: 52px;
            color: #000;
            border: 1px solid #000;
        }
        &:nth-child(1){
            background-color: #fff;
        }
        &:nth-child(2){
            background-color: #f9f9f9;
        }
        &:nth-child(3){
            background-color: #eaeaea;
        }
        &:nth-child(4){
            background-color: #2c2c2c;
            .popular__title{
                color: #fff;
            }
            .btn{
                color: #fff;
                border: 1px solid #fff;
            }
        }
    }
    &__imgbox{
        height: 376px;
        align-items: center;
        display: flex;
        max-width: 360px;
    }
    &__title{
        font-size: 33px;
        line-height: 48px;
        @extend %Inter-300;
    }
    &__text{
        font-size: 14px;
        line-height: 24px;
        color: #909090;
    }
}
.discounts{
    padding: 80px 0;
}
.discounts__content{
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(4, minmax(160px, 1fr));
    gap: 16px;
}
.promo{
    background-image: url(../img/photo/promo.jpg);
    background-position: center center;
    text-align: center;
    background-size: cover;
    padding: 159px 0 89px;
    &__title{
        font-size: 72px;
        line-height: 72px;
        @extend %Inter-100;
        color: #fff;
        span{
            @extend %Inter-500;
        }
    }
    &__subtitle{
        color: #787878;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 32px;
    }
}

.footer {
    padding: 104px 0;
    background-color: #000;
    color: #fff;

    &__logo Path {
        fill: #fff;
    }

}

.footer-nav {
    display: flex;
    justify-content: space-between;

    :first-child {
        max-width: 384px;
    }

    &__text {
        margin-top: 24px;
        color: #cfcfcf;
    }

    &__item {
        margin-top: 14px;
        font-size: 14px;
        transition: all .5s;
        color: #cfcfcf;

        &:hover {
            color: #fff;
        }
    }

    &__title {
        font-size: 16px;
    }
}

.footer-social {
    &__list {
        display: flex;
    }

    &__item+.footer-social__item {
        margin-left: 36px;
    }
}




@import 'media';